body {
    font-family: Helvetica;
  }
  .lower-section,
  .upper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#2980b9, 0.5);
  
    span { font-size: 2.2rem; }
  } 
  .upper-section {
    min-height: 50vh;
    width: 100%;
    background: #b3c9df;
  }
  .lower-section{
    min-height: 5vh;
    width: 100%;
    background:  #2c3e50;
  }

canvas {
    border: 2px solid black;
}